<header>
  <nav class="navbar navbar-expand-lg bg-light" >
    <a href="" class="navbar-brand">Company Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-end">
    <ul class="navbar-nav nav-pills">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active current" class="nav-link" >Home</a>
      </li>
      <li class="nav-item dropdown">
        <a routerLink="/company" routerLinkActive="active current" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Company</a>
        <div class="dropdown-menu">
          <a routerLink="/companyhistory" routerLinkActive="active current" class="dropdown-item">History</a>
          <a routerLink="/companyprofile" routerLinkActive="active current" class="dropdown-item">Profile</a>
          <a routerLink="/companygoals"   routerLinkActive="active current" class="dropdown-item">Goals</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/aboutus" routerLinkActive="active current" class="nav-link" >About Us</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contactus" routerLinkActive="active current" class="nav-link" >Contact Us</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active current" class="nav-link" >login</a>
      </li>
    </ul>
  </div>  
  </nav>
</header>