<form class="form-horizontal" [formGroup]="login" novalidate (ngSubmit)="loginSubmit()" >
  
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="userEmail" >
    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <div *ngIf="userEmail.errors &&(userEmail.touched)">
      <div *ngIf="userEmail.errors.required" class='alert alert-danger alert-dismissable text-left'>
        <a href="#" data-dismiss="alert" class="close" aria-label="close">&times;</a>
        <strong>Danger !</strong>User email is required.
      </div>
      <div *ngIf="userEmail.errors.maxlength" class='alert alert-danger alert-dismissable text-left'>
        <a href="#" data-dismiss="alert" class="close" aria-label="close">&times;</a>
        <strong>Danger !</strong>User email maximum 40 characters required.</div>
      <div *ngIf="userEmail.errors.minlength" class='alert alert-danger alert-dismissable text-left'>
        <a href="#" data-dismiss="close" class="close" aria-label="close">&times;</a>
        <strong>Danger !</strong> User email minimum 10 characters required.</div>
    </div>
    <div *ngIf="userEmail?.errors?.pattern" class="alert alert-danger alert-dismissable text-left">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Danger !</strong>User email pattern is wrong.
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="userPassword" >
    <div *ngIf="userPassword.errors &&(userPassword.touched)">
      <div *ngIf="userPassword.errors.required" class='alert alert-danger alert-dismissable text-left'>
        <a href="#" data-dismiss="alert" class="close" aria-label="close">&times;</a>
        <strong>Danger !</strong>User password is required.
      </div>
      <div *ngIf="userPassword.errors.maxlength" class='alert alert-danger alert-dismissable text-left'>
        <a href="#" data-dismiss="alert" class="close" aria-label="close">&times;</a>
        <strong>Danger !</strong>User password maximum 15 characters required.</div>
      <div *ngIf="userPassword.errors.minlength" class='alert alert-danger alert-dismissable text-left'>
        <a href="#" data-dismiss="close" class="close" aria-label="close">&times;</a>
        <strong>Danger !</strong>User password minimum 8 characters required.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!login.valid" >Submit</button>
  <a routerLink="/signup" routerLinkActive="active current" class="nav-link">Sign Up</a>
</form>


<!-- Test {{login.value |json}} -->