<!-- {{products|json}} -->
<div class="container">
  <fieldset>
    <div class="row">
      <div class="col">
        <button class="btn btn-info" (click)="productCreate()">
          <label>Create Product</label>
        </button>
      </div>
      <div class="col"></div>
    </div>

    <div id="createProduct">
      <form class="form" id="product">
        <div class="form-group row">
          <label class="col control-label">Name</label>
          <input class="col form-control" type="name" name="productName" />
        </div>
        <div class="form-group row">
          <label class="col control-label">Company</label>
          <input class="col form-control" type="text" />
        </div>
        <div class="form-group row">
          <label class="col control-label">Quantity</label>
          <input class="col form-control" type="number" />
        </div>
        <div class="form-group row ">
          <div class="col"></div>
          <div class="col">
            <input class=" btn btn-info" type="submit" name="createProduct" value="Create Product" />
            <input class=" btn btn-warning" type="button" name="cancel" value="Cancel" />
          </div>
        </div>
      </form>
    </div>

  </fieldset>

  <table class="table table-striped" id="products_tbl">
    <thead>
      <tr>
        <th class="col">Sr No.</th>
        <th class="col">Id</th>
        <th class="col">Name</th>
        <th class="col">Company</th>
        <th class="col">Quantity</th>

        <th class="col"></th>
        <th class="col"></th>
        <th class="col"></th>
        <th class="col"></th>
        <th class="col">View</th>
        <th class="col">Edit</th>
        <th class="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products;let i=index ">
        <td class="col">{{i+1}}</td>
        <td class="col">{{product.id}}</td>
        <td class="col">{{product.name}}</td>
        <td class="col">{{product.company}}</td>
        <td class="col">{{product.quantity}}</td>

        <td class="col"></td>
        <td class="col"></td>
        <td class="col"></td>
        <td class="col"></td>
        <td class="col">
          <button class="btn btn-info" (click)="productView($index)">View</button>
        </td>
        <td class="col">
          <button class="btn btn-warning" (click)="productEdit($index)">Edit</button>
        </td>
        <td class="col">
          <button class="btn btn-danger" (click)="productDelete($index)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>