<div class="user_signup">
  <form action="" class="form-horizontal">
    <fieldset>
      <legend align="left" align="left">Name details</legend>
      <div class="form-group row">
        <label for="userName" class="col control-label">User Name</label>
        <input type="text" id="userName" class="col form-control" placeholder="Enter user name" />
      </div>
    </fieldset>
    <fieldset>
      <legend align="left">Contact details</legend>
      <div class="form-group row">
        <label for="userEmail" class="col control-label">Email</label>
        <input type="text" id="userEmail" class="col form-control" placeholder="Enter user emailid" />
      </div>
      <div class="form-group row">
        <label for="userMobile" class="col control-label">Mobile</label>
        <input type="number" class="col form-control" placeholder="Enter user mobile number" />
      </div>
    </fieldset>
    <fieldset>
      <legend align="left">Accout details</legend>
      <div class="form-group row">
        <label for="userPassword" class="col control-label">Password</label>
        <input type="password" class="col form-control" placeholder="Enter user password" />
      </div>

      <div class="form-group row">
        <label for="userConfirmPassword" class="col control-label">Confirm Passward</label>
        <input type="password" id="userConfirmPassword" class="col form-control" placeholder="Enter user confirm password" />
      </div>
    </fieldset>
    <input type="submit" class="btn btn-outline-primary" value="Submit" />
    <input type="button" class="btn btn-outline-secondary" value="Cancel" />
  </form>
</div>